nav {
    background-color: #000000;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
}

#logged_user {
    position: relative;
    margin-right: 15px;
}

#carouselExampleControls {
    height: 90vh;
    width: 100vw;
}

#myCarousel {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}